@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* default theme */
  --background: white;
  --foreground: black;

  --color-primary: #e9005a;
  --color-secondary: #bbcedd;
}

.dark,
[data-theme="dark"] {
  --background: black;
  --foreground: white;
}
